<div class="tab container">
    <%= form_for @user, url: update_user_password_path(@user), method: :patch do |f| %>
        <div class="passwordInput setting input-group mb-3">
            <div class="input-group-addon">
                <span class="input-group-text" id="basic-addon1">Password</span>
            </div>
            <%= f.password_field :password, class: 'form-control', :required => true%> 
        </div>
        <div class="passwordInput setting input-group mb-3">
            <div class="input-group-addon">
                <span class="input-group-text" id="basic-addon1">Confirm Password</span>
            </div>
            <%= f.password_field :password_confirmation, class: 'form-control', :required => true %> 
        </div>
        <%= f.submit "Confirm", class: 'userSettings btn btn-light' %>
    <% end %>
</div>