@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Universal */

html, body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  padding-top: 60px;;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// Header (_header.html.erb)
.navbar.navbar-fixed-top {
  background-color: #393d48;
  padding: 10px 0;
  height: 70px;
  min-height: 70px;
  border: none;
}

.navbar.navbar-fixed-top>.container>nav>ul>li>a {
  color: $gray-medium-light;
  background-color: #393d48;
}

.navbar.navbar-fixed-top>.container>nav>ul>li>a:hover,
.navbar.navbar-fixed-top>.container>nav>ul>li>a:active,
.navbar.navbar-fixed-top>.container>nav>ul>li>a:focus {
  color: #FF4500;
  text-decoration: none;
  background-color: transparent;
}

ul.dropdown-menu {
  color: $gray-medium-light;
  background-color: #393d48;
}

ul.dropdown-menu>li>a {
  color: $gray-medium-light;
  margin: 2px 0;
}

ul.dropdown-menu>li>a:hover,
ul.dropdown-menu>li>a:active,
ul.dropdown-menu>li>a:focus {
  color: #FF4500;
  text-decoration: none;
  background-color: #4e5365;
}

.navbarUserAvatar>img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 15px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 40%;
  transform: translatex(-50%);
}

// Footer (_footer.html.erb)
.footer {
  height: 60px; // Replace with the height your footer should be
  width: 100%; // Don't change
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-color: #393d48;;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  border-top: 1px solid $gray-medium-light;
  text-align: center;
  color: $gray-medium-light;
  letter-spacing: -1px;
  padding-top: 20px;
  border-color: #090909;
  color: $gray-medium-light;
}   

.footer_contents {
  height: 50px; // Replace with the height your footer should be
  width: 1000px; // Visible width of footer
  margin: auto;
}

// RichText Styling
.btn.btn-sm.btn-info {
  background-color: #24A0ED;
  color: white;
  border: 1px solid #1c80bd;
}

.btn.btn-sm.btn-info:hover, .btn.btn-sm.btn-info:active, .btn.btn-sm.btn-info:focus {
  box-shadow: none;
  outline: 0;
  text-decoration: none;
  background-color: #1c80bd;
}

/* Forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}