// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ========== Forgot and Reset Password (new.html.erb and edit.html.erb) ========== */
.container.forgotPassword,
.container.resetPassword {
    background-color: white;
    width: 50%;
    padding: 50px 100px;
    margin-bottom: 50px;
}


.container.forgotPassword>h1,
.container.resetPassword>h1 {
    margin-bottom: 100px;
}

.container.forgotPassword>form>h4 {
    text-align: center;
    margin-bottom: 20px;
}

.forgotPassword.input-group.mb-3,
.resetPassword.input-group.mb-3 {
    width: 100%;
    margin-bottom: 20px;
}

.forgotPassword.input-group.mb-3>.input-group-addon {
    width: 120px;
}

.resetPassword.input-group.mb-3>.input-group-addon {
    width: 155px;
}

.forgotPassword.input-group.mb-3>.input-group-addon,
.forgotPassword.input-group.mb-3>input,
.resetPassword.input-group.mb-3>.input-group-addon,
.resetPassword.input-group.mb-3>input {
    border-radius: 0;
}

.container.forgotPassword>form>input,
.container.resetPassword>form>input {
    background-color: #0e9587;
    color: white;
    border: 0;
    height: 40px;
    width: 100%;
    line-height: 2;
    margin-bottom: 20px;
}

.container.forgotPassword>form>input:hover,
.container.forgotPassword>form>input:active,
.container.forgotPassword>form>input:focus,
.container.resetPassword>form>input:hover,
.container.resetPassword>form>input:active,
.container.resetPassword>form>input:focus {
    box-shadow: none;
    outline: 0;
    text-decoration: none;
    background-color: #0d8176;
}

.errorNotice {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errorNoticeResetPW {
    margin: -75px 0 25px 0;
}

.errorNoticeResetPW>ul {
    color: red;
}

.errorNotice>p {
    margin: 0;
}
