<div class="footer">
  <div class="footer_contents">
    Copyright© 2020 | Powered by Lawrence Trinh (s3656432) and Djorenz Cruz (s3689472) | Tutorial Group 8 | Matthew Mitchell McKenzie
  </div>
</div>